// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100:  #122F42,
    200:  #184660,
    300:  #1D5F7F,
    400:  #21799E,
    500:  #2596be,
    600:  #38A3D2,
    700:  #4FAFE2,
    800:  #6ABAEF,
    900:  #8DC7F9,
    1000: #B0D5FF,
    1100: #D4E6FF,
  ),
  secondary: (
    100: hsl(173, 81%, 68%),
    200: hsl(173, 80%, 63%),
    300: hsl(173, 72%, 57%),
    400: hsl(173, 75%, 47%),
    500: hsl(173, 90%, 30%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: #272838,
  ),
);

