---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import cat from '../assets/img/cat.webp'
---

<DefaultLayout title="O nás">
  <div class="breadcrumbs">
    <div class="container">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Domov" />
        <BreadcrumbsItem href="/o-nas/" label="O nás" />
      </Breadcrumbs>
    </div>
  </div>
  <div class="container">
    <h1 class="m-10 ml-0">O nás</h1>
    <div class="container mx-auto p-4 flex flex-col md:flex-row items-center md:items-start">
        <div class="text pr-0 md:pr-20 mb-4 md:mb-0 md:mr-4 w-full md:w-1/2">
            <p>
                HOPŠTEJN se již od roku 1992 zabývá pronájmy a výrobou dětských skákacích hradů, reklamních 
                nafukovadel a poutačů. V posledních letech naše aktivity směřují ke kompletnímu materiálnímu 
                zajištění dětských zábavných a soutěžních akcí. 
                <br>
                Naše výrobky mají své místo v mateřských a základních školách, na akcích typu Den dětí, na 
                koupalištích, stávají se však nedílnou součástí firemních dnů pro zaměstnance i pro veřejnost, 
                reklamních a prezentačních akcí. apod. Jsou také vhodným doplňkem dětských koutů, obchodních domů, 
                veletrhů a rekreačních a sportovních středisek. 
                <br>
                Nezůstaňme však pouze u pronájmů. Výrobek ve tvaru či s designem Vaší firmy, Vašeho výrobku se 
                stane nepřehlédnutelnou dominantou při prezentacích na veřejnosti.
                <br>
                Staňte se i Vy našimi zákazníky – my Vás nezklameme!
            </p>
        </div>
        <div class="image w-full md:w-1/2">
            <Image src={cat} alt="todo"/>
        </div>
    </div>
  </div>
</DefaultLayout>

<!-- <style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style> -->
