---

---

<div class="grid grid-flow-row fixed-bar">
    <div><a href="/atrakce/pronajem/">Vše</a></div>
    <div><a href="/atrakce/pronajem/hrady/">Hrady</a></div>
    <div><a href="/atrakce/pronajem/nafukovadla/">Nafukovadla</a></div>
    <div><a href="/atrakce/pronajem/skluzavky/">Skluzavky</a></div>
    <div><a href="/atrakce/pronajem/hry/">Hry</a></div>
    <div><a href="/atrakce/pronajem/stany/">Stany</a></div>
</div>

<style lang="scss">

    .fixed-bar {
        position: sticky;
        top: 10em;
        pointer-events: click;
    }

</style>