---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} Built with <a href="https://astro.build/">Astro</a>. Made by <a
          href="https://github.com/Siigull">Daniel Pelánek</a
        >.
      </p>
    </div>
  </section>
</footer>